body{
	background: #faee58;
}
h1{
	text-align: center;
	font-size: 60px;
}
div#infoBoard{
	font-size: 40px;
	text-align: center;
	padding: 10px;
	width: 800px;
	height:50px;
	position: block;
	margin:0px auto;
}
span#timeInfo{
	float: left;
}
span#scoreInfo{
	float: right;
}
div#memory_board{
	background:#CCC;
	border:#999 1px solid;
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
div#memory_board > div{
	background: url(resizedpics/pokeball.png) no-repeat;
	background-color: red;
	background-size: 111px 111px;
	border:#000 1px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}